.carousel {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.carousel-picture {
    object-fit: cover;
    aspect-ratio: 248/83;
    border-radius: 25px;
    width: 100%;
}

.leftArrow {
    position: absolute;
    left: 7%;
    cursor: pointer;
}

.rightArrow {
    position: absolute;
    right: 7%;
    cursor: pointer;
}


@media screen and (max-width: 900px) {

    .carousel {
        margin-bottom: 0px;
    }

    .carousel-picture {
        min-height: 225px;
    }

    .leftArrow {
        width: 12px;
        height: 20px;
        left: 9%;
    }

    .rightArrow {
        width: 12px;
        height: 20px;
        right: 9%;
    }
}