.menu {
    display: flex;
    flex-direction: column;
    flex: 45% 1 1;
}

.menuBar {
    background-color: #FF6060;
    color: white;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 700;
    padding: 2px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
}

.menuBar img {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: 0.4s;
}

.arrowDown {
    transform: rotate(-0.5turn);
}

.menuContent {
    display: flex;
    background-color: #F6F6F673;
    border-radius: 0px 0px 5px 5px;
    font-size: 18px;
    font-weight: 400;
    padding: 0 3%;
    transition: height 0.5s;
    overflow: hidden;
}

.hidden {
    height: 0px !important;
}

@media screen and (max-width: 900px) {

    .menuBar {
        height: 30px;
        font-size: 13px;
    }

    .menuBar img {
        width: 16px;
        height: 16px;
    }

    .menuContent {
        font-size: 12px;
    }
}