.tags {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 0px;
    margin: 0px;
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF6060;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border-radius: 10px;
    padding: 5px 10px;
    min-width: 115px;
}


@media screen and (max-width: 900px) {
    .tag {
        font-size: 12px;
        min-width: 80px;
        height: 18px;
        border-radius: 8px;
        padding: 3px 8px;
    }
}