ul {
    list-style-type: none;
    padding: 0px;
}

.tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF6060;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border-radius: 10px;
    padding: 1%;
    min-width: 115px;
}