#home_body {
    padding: 20px 5%;
}

.headline h1 {
    position: relative;
    color: white;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

.card_list {
    background-color: rgba(246, 246, 246, 1);
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    gap: 40px;
}

.card {
    display: flex;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: black;
    flex: 29% 1 0;
    max-width: 31%;
    min-width: 250px;
    aspect-ratio: 1;
    overflow: hidden;
    position: relative;
}

.card_bg {
    opacity: 0.6;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    transition: all 0.5s;
}

.card h2 {
    color: white;
    font-size: 18px;
    font-weight: 700;
    align-self: flex-end;
    max-width: 320px;
    position: relative;
    padding: 10px;
}

.card :hover {
    opacity: 1;
}

@media screen and (max-width: 900px) {
    .card_list {
        padding: 0px;
        row-gap: 22px;
        background: transparent;
    }
}


@media screen and (max-width: 570px) {
    .card {
        max-width: none;
        max-height: 225px;
    }
}